<h1>{{query}}</h1>
<div class="card-group">
  <div *ngFor="let item of items" class="card">
    <img class="card-img-top" src="{{item.thumbnailImage}}" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{item.name}}</h4>
      <!--<p [innerHtml]="item.longDescription" class="card-text"></p> -->
      <p class="card-text">{{item.longDescription}}</p>
      <p class="card-text"><small class="text-muted">Price: ${{item.salePrice}}</small></p>
    </div>
  </div>
</div>
